@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, .main {
	margin: 0;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body {
	overflow-y: hidden;
}
.main {
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	height: 100vh;
}


.title {
	display: block;
	margin: top: 4em;
}

.title a {
	text-decoration: none;
	color: #222;
}

.logo{
	margin: -0.25em 0 0;
}
.logo a{
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.logo a:hover {
	color: #fff;
}


.contact-list {
	padding: 0;
	list-style: none;
	text-decoration: none;
	text-align: left;
}

.contact-info img, .follow-info img{
	display: inline-;
	width: 2em;
	margin-right: 1em;
}

.contact-info a, .follow-info a{
	display: inline-block;
	text-decoration: none;
	color: #eee;
	padding: 0.25em 1em;
	margin: 0.25em;

}

.footer {
	height: 4em;
	position: relative;
	bottom: 0;
	margin: 0;
	padding: 1em;
	display: block;
	width: 100%;
	background-color: #ddd;
	color: #fff;
}

.footer p {
	text-align: right;
}

.contact, .follow, .about, .portfolio {
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	margin-bottom: 10em;
}

.anchor {
	position: relative;
	top: -4em;
}

.p-anchor {
	position: relative;
	top: -3em;
}

.about-img {
	width: 100%;
	padding: 2em;
}


.about-text {
	padding: 1em;
}

.rtt {
	text-decoration: none;
	color: #000;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.rtt:hover {
	color: #fff;
}
/*============================================================================*/
/*============================SPLASH SCREEN===================================*/
/*============================================================================*/

.banner {
	z-index: 10000;
	position: relative;
	background-color: #222;
	background-image: url("../img/grid.svg");
	background-size: 50px 50px;
	height: 100vh;
	padding: 0;
	margin: 0;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	transition: all 750ms ease;
}

.entered {
	z-index: 10;
	opacity: 0;
	-webkit-transform: scale(5,5);
	transform: scale(5,5);
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.word-wrapper, .kidmadrid-wrapper, .btn-enter {
	padding: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	padding: 1em;
	-webkit-animation: fade 250ms ease-in-out forwards;
	animation: fade 250ms ease-in-out forwards;
}

@-webkit-keyframes fade {
	0% {
		-webkit-transform: translateY(-15px) scale(1,0.9);
		opacity: 0;
		color: #fff;
	}
	100% {
		-webkit-transform: translateY(0px) scale(1,1);
		opacity: 1;
		color: #555;
	}
}

@keyframes fade {
	0% {
		transform: translateY(-15px) scale(1,0.9);
		opacity: 0;
		color: #fff;
	}
	100% {
		transform: translateY(0px) scale(1,1);
		opacity: 1;
		color: #555;
	}
}

.kidmadrid-wrapper {
	background:#333;
	border: #555 3px solid;
	top: 35%;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
	padding: 0 0 0 1em;
	border-radius: 10px;
	background-image: url("../img/grid.svg");
	background-size: 50px 50px;
	overflow: hidden;
	height: 11vw;
}

.kidmadrid-wrapper:hover .kidmadrid-before {
 	-webkit-animation: glitch-1 1000ms infinite linear alternate-reverse;
 	animation: glitch-1 1000ms infinite linear alternate-reverse;
 }

.kidmadrid-wrapper:hover .kidmadrid-after {
 	-webkit-animation: glitch-2 1000ms infinite linear alternate-reverse;
 	animation: glitch-1 1000ms infinite linear alternate-reverse;
}

.word-wrapper {
	top: 45%;
	text-align: center;
	-webkit-animation-delay: 4500ms;
	animation-delay: 4500ms;
}

.word {
	font-size: 1.5em;
	margin: 0 0 0 px;
	padding: 0;
}

.w {
	display: inline-block;
}

.btn-enter {
	text-align: center;
	position: absolute;
	width: 8em;
	top: calc(50% + 50px);
	left: calc(50% - 4em);
	-webkit-animation-delay: 5000ms;
	animation-delay: 5000ms;
}

.splash-screen-button:hover,
.kidmadrid-wrapper:hover .kidmadrid-before,
.kidmadrid-wrapper:hover .kidmadrid-after,
.kidmadrid:hover{
	color: #fff;
}

.splash-screen-button {
	font-size: 1.5em;
	text-decoration: none;
	color: #bbb;
}

.kidmadrid {
	width: 100%;
	font-size: 7vw;
	color: #555;
	position: absolute;
	list-style: none;
	margin: 0 auto;
	padding: 0 0 0 3.5%;
	overflow: hidden;
	-webkit-transition: color 2s ease;
	transition: color 2s ease;
}

.kidmadrid-before, .kidmadrid-after {
	background:#333;
  background-image: url("../img/grid.svg");
	background-size: 50px 50px;
	opacity: 0;
}

.kidmadrid-before {
	-webkit-transform: translateX(3px);
	transform: translateX(2px);
	z-index:100;
 	text-shadow: -1px 0 rgba(255,0,0,0.2);
 	-webkit-animation: glitch-1 1000ms linear alternate-reverse;
 	-webkit-animation-delay: 5500ms;
 	animation: glitch-1 1000ms linear alternate-reverse;
 	animation-delay: 5500ms;
}

.kidmadrid-after {
	-webkit-transform: translateX(-5px);
	transform: translateX(-2px);
	z-index: 110;
  text-shadow: 1px 0 rgba(0,0,255,0.2);
  -webkit-animation: glitch-2 1000ms linear alternate-reverse;
  -webkit-animation-delay: 6000ms;
  animation: glitch-2 1000ms linear alternate-reverse;
  animation-delay: 6000ms;

}

@-webkit-keyframes glitch-1{
	0% {
	 	opacity: 1;
	  clip: rect(9vw, 100vw, 12vw, 0);
	}
	20% {
	  clip: rect(5vw, 100vw, 8vw, 0);
	}
	40% {
	  clip: rect(8vw, 100vw, 9vw, 0);
	}
	60% {
	  clip: rect(5vw, 100vw, 7vw, 0);
	}
	80% {
		opacity: 1;
	  clip: rect(9vw, 100vw, 9.5vw, 0);
	}
	100% {
	  clip: rect(1vw, 100vw, 1.5vw, 0);
	}
}

@keyframes glitch-1{
	0% {
	 	opacity: 1;
	  clip: rect(9vw, 100vw, 12vw, 0);
	}
	20% {
	  clip: rect(5vw, 100vw, 8vw, 0);
	}
	40% {
	  clip: rect(8vw, 100vw, 9vw, 0);
	}
	60% {
	  clip: rect(5vw, 100vw, 7vw, 0);
	}
	80% {
		opacity: 1;
	  clip: rect(9vw, 100vw, 9.5vw, 0);
	}
	100% {
	  clip: rect(1vw, 100vw, 1.5vw, 0);
	}
}

@-webkit-keyframes glitch-2{
	0% {
	 	opacity: 1;
	  clip: rect(1vw, 100vw, 2vw, 0);
	}
	20% {
	  clip: rect(3vw, 100vw, 7vw, 0);
	}
	40% {
	  clip: rect(2vw, 100vw, 3vw, 0);
	}
	60% {
	  clip: rect(3vw, 100vw, 6vw, 0);
	}
	80% {
		opacity: 1;
	  clip: rect(7vw, 100vw, 7.5vw, 0);
	}
	100% {
		opacity: 0;
	  clip: rect(6vw, 100vw, 9vw, 0);
	}
}

@keyframes glitch-2{
	0% {
	 	opacity: 1;
	  clip: rect(1vw, 100vw, 2vw, 0);
	}
	20% {
	  clip: rect(3vw, 100vw, 7vw, 0);
	}
	40% {
	  clip: rect(2vw, 100vw, 3vw, 0);
	}
	60% {
	  clip: rect(3vw, 100vw, 6vw, 0);
	}
	80% {
		opacity: 1;
	  clip: rect(7vw, 100vw, 7.5vw, 0);
	}
	100% {
		opacity: 0;
	  clip: rect(6vw, 100vw, 9vw, 0);
	}
}

.letter {
	float: left;
	margin: 0;
	width: 0;
	padding: 0;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.letter:nth-child(1) {
	-webkit-animation: type 100ms steps(1) forwards;
	-webkit-animation-delay: 1500ms;
	animation: type 100ms steps(1) forwards;
	animation-delay: 1500ms;
}
.letter:nth-child(2) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 1600ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 1600ms;
}
.letter:nth-child(3) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 1700ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 1700ms;
}
.letter:nth-child(4) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 1800ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 1800ms;
}
.letter:nth-child(5) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 1900ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 1900ms;
}
.letter:nth-child(6) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 2000ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 2000ms;
}
.letter:nth-child(7) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 2000ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 2100ms;
}
.letter:nth-child(8) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 2200ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 2200ms;
}
.letter:nth-child(9) {
	-webkit-animation: type 250ms steps(1) forwards;
	-webkit-animation-delay: 2300ms;
	animation: type 250ms steps(1) forwards;
	animation-delay: 2300ms;
}
.letter:nth-child(10) {
	-webkit-animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;;
	-webkit-animation-delay: 2400ms 4000ms;
	animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;;
	animation-delay: 2400ms 4000ms;
}
.letter:nth-child(11) {
	-webkit-animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;;
	-webkit-animation-delay: 2500ms, 3800ms;
	animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;;
	animation-delay: 2500ms, 3800ms;
}
.letter:nth-child(12) {
	-webkit-animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;
	-webkit-animation-delay: 2600ms, 3500ms;
	animation: type 250ms steps(1) forwards, backspace 250ms steps(1) forwards;
	animation-delay: 2600ms, 3500ms;
}
.letter:nth-child(13) {
	width: 10px;
}

@-webkit-keyframes type {
	0% {
		width: 0;
	}
	100% {
		width: 7.5vw;
	}
}

@keyframes type {
	0% {
		width: 0;
	}
	100% {
		width: 7.5vw;
	}
}

.backspace {
	-webkit-animation: backspace 100ms backwards;
	-webkit-animation-delay: 2600ms;
	animation: backspace 100ms backwards;
	animation-delay: 2600ms;
}

@-webkit-keyframes backspace {
	0% {
		width: 7.5vw;
	}
	100% {
		width: 0;
	}
}

@keyframes backspace {
	0% {
		width: 7.5vw;
	}
	100% {
		width: 0;
	}
}

.flicker {
	opacity: 0;
	-webkit-animation: flicker 500ms ease-in-out infinite alternate;
	animation: flicker 500ms ease-in-out infinite alternate;
}

@-webkit-keyframes flicker {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flicker {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 25em) {
	.splash-screen-button {
		font-size: 2em;
	}
	.btn-enter {
		width: 12em;
		left: calc(50% - 6em);
		top: 60%;
	}
	.word {
		font-size: 1.5em;
	}
	.word-wrapper {
		top: 45%;
	}
}

@media only screen and (min-width: 38em) {
	.splash-screen-button {
		font-size: 3em;
	}
	.word {
		font-size: 2em;
	}
	.word-wrapper {
		top: 50%;
	}
	.letter:nth-child(13) {
		width: 1em;
	}
}

@media only screen and (min-width: 60em) {
	.splash-screen-button {
		font-size: 3.5em;
	}
	.btn-enter {
		width: 20em;
		left: calc(50% - 10em);
		top: 70%;
	}
	.word {
		font-size: 2.5em;
	}
	.word-wrapper {
		top: 60%;
	}
}

@media only screen and (min-width: 90em) {
	.splash-screen-button {
		font-size: 4em;
	}
	.word {
		font-size: 3em;
	}
}

/*============================================================================*/
/*==========================SPLASH SCREEN END!================================*/
/*============================================================================*/



/*============================================================================*/
/*===============================NAVIGATION===================================*/
/*============================================================================*/

.nav {
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	background: #ddd;
	height: 4em;
	padding: 1em;
	width: 100%;
	box-shadow: 0px 0px 15px;
}

.nav-btn {
	position: absolute;
	right: 2em;
	display: block;
	height: 2em;
	cursor: pointer;
}

.menu{
	position: absolute;
	width: 100vw;
	/*height: calc(100vh - 4em);*/
	height: 100vh;
	left: 100%;
	background-color: rgba(10,10,10, 0.8);
	top: 4em;
	padding: 2em;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	z-index: 100;
}

.js-menu-open {
	left: 0;
	opacity: 1;
}

.js-blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);

}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-list li {
	text-align: center;
	width: 100%;
}

.nav-list a {
	display: block;
	width: 100%;
	padding: 1em;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	background-color: rgba(255,255,255, 0.0);
	border-radius: 10px;
}

.nav-list a:hover {
	background-color: rgba(255,255,255, 0.1);
}

.js-no-scroll {
	overflow-y: hidden;
}

@media only screen and (min-width: 60em) {
	.menu {
		opacity: 1;
		left: calc(20% + 2em);
		top: 0;
		height: 4em;
		z-index: 2000;
		background-color: rgba(10,10,10, 0);
		padding: 0.25em;

	}

	.nav-list a {
	display: inline-block;
	width: 15%;
	float: left;
	}

	.nav-list a:hover {
	background-color: rgba(0,0,0, 0.1);
}

.nav-list li {
	display: inline;
	text-align: right;

}

	.nav-btn, .nav-list li:first-child {
		display: none;
	}

	.js-blur {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

/*============================================================================*/
/*===============================NAVIGATION END!==============================*/
/*============================================================================*/


/*============================================================================*/
/*================================LIGHT BOX===================================*/
/*============================================================================*/

.gallery {
	width: 100%;
	margin-top: 1.5em;
}

.lightbox {
	position: fixed;
	left: 0;
	right: 0;
	top: -100%;
	bottom: 100%;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	opacity: 0;
	z-index:10000;
}
.lightbox[data-state="visible"] {
	opacity: 1;
	bottom: 0;
	top: 0;
}

.lightbox-container {
	position: absolute;
	left: 2em;
	right: 2em;
	bottom: 2em;
	top: 2em;
	background-color: #111;
	border-radius: 1em;
	box-shadow: 1px 1px 4px #000;
}

.lightbox-img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 80vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.lightbox-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 2em);
	height: 85vh;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.lightbox-heading {
	top: 0;
	width: 100%;
	padding: 0.5em;
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	border-radius: 1em;
}

.btn-close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1em;
	height: 1em;
	background-image: url(../img/close.svg);
	cursor: pointer;
}

.thumbnails {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	-webkit-animation: fade 200ms forwards;
	animation: fade 200ms forwards;
}

.thumbnails a{
	text-decoration: none;
}
.thumbnails img {
	display: block;
	background-color: #fff;
	width: 100%;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.thumbnails img:hover{
		opacity: 0.75;
	}

.thumb-title {
	background-color: rgba(0,0,0,0.5);
	padding: 0.5em;
	margin: 0;
	margin-bottom: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-decoration: none;
	color: #eee;
	text-align: center;
}

.gallery-container {
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #333;
}
/*============================================================================*/
/*================================LIGHT BOX END!==============================*/
/*============================================================================*/
