@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  padding: 0;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.banner {
	background-color: #222;
	background: linear-gradient(#000, #222 25%);
	height: 100vh;
	padding: 0;
	margin: 0;
}

.kidmadrid {
	font-size: 10em;
	color: #555;
	position: relative;
	list-style: none;
	margin: 0 auto;
}

.letter {
	float: left;
	margin: 0;
	padding: 0;
	transition:  all 500ms ease-in-out;
}

.letter:hover {
	color: #fff;
  font: normal 100%/1.45 Georgia, serif;
};

.letter:active {

}

.kidmadrid-wrapper {
	position: absolute;
	left: calc(50% - 400px);
	top: calc(50% - 132px);
	animation: fade 1000ms ease-in-out forwards;
}



@keyframes fade {
	0% {
		transform: translateY(-50px);
		opacity: 0
	}
	100% {
		transform: translateY(0px)
		opacity: 1;
	}
}
