.bc-section {
  overflow: hidden;
}

.bc {
  height: 56vw;
}

.js-go{

}

@keyframes bloop {
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(1) translateY(0);
	}
	100%{
		transform: scale(1.01) translateY(-15px);
	}
}


.js-go .bc g {
  animation: bloop 2000ms ease-in-out infinite alternate;
}

.js-go #camera {
  animation-delay: bloop 2000ms ease-in-out 200ms infinite alternate;
}

.js-go #flash {
  animation: bloop 2000ms ease-in-out 300ms infinite alternate;
}

.js-go #lens {
  animation: bloop 2000ms ease-in-out 400ms infinite alternate;
}

.js-go #gopro {
  animation: bloop 2000ms ease-in-out 500ms infinite alternate;
}

.js-go #sd1 {
  animation: bloop 2000ms ease-in-out 600ms infinite alternate;
}

.js-go #sd2 {
  animation: bloop 2000ms ease-in-out 700ms infinite alternate;
}

.js-go #sd3 {
  animation: bloop 2000ms ease-in-out 800ms infinite alternate;
}

.js-go #tracing_paper_2, .js-go #tracing_paper {
  animation: bloop 2000ms ease-in-out 900ms infinite alternate;
}
.js-go #ruler_paper {
  animation: bloop 2000ms ease-in-out 1000ms infinite alternate;
}

.js-go #book {
  animation: bloop 2000ms ease-in-out 1100ms infinite alternate;
}

.js-go #ruler {
  animation: bloop 2000ms ease-in-out 1200ms infinite alternate;
}

.js-go #tripod {
  animation: bloop 2000ms ease-in-out 1300ms infinite alternate;
}

.js-go #wacom {
  animation: bloop 2000ms ease-in-out 1400ms infinite alternate;
}

.js-go #wacom_pen {
  animation: bloop 2000ms ease-in-out 1500ms infinite alternate;
}

.js-go #kendama {
  animation: bloop 2000ms ease-in-out 1600ms infinite alternate;
}

.js-go #watch {
  animation: bloop 2000ms ease-in-out 1700ms infinite alternate;
}

.js-go #brush {
  animation: bloop 2000ms ease-in-out 1800ms infinite alternate;
}

.js-go #eraser {
  animation: bloop 2000ms ease-in-out 1900ms infinite alternate;
}

.js-go #charger {
  animation: bloop 2000ms ease-in-out 2000ms infinite alternate;
}

.js-go #magic_mouse {
  animation: bloop 2000ms ease-in-out 2100ms infinite alternate;
}

.js-go #usbs {
  animation: bloop 2000ms ease-in-out 2200ms infinite alternate;
}

.js-go #wallet {
  animation: bloop 2000ms ease-in-out 2300ms infinite alternate;
}

.js-go #cross {
  animation: bloop 2000ms ease-in-out 2400ms infinite alternate;
}

.js-go #guitar_picks {
  animation: bloop 2000ms ease-in-out 2500ms infinite alternate;
}

.js-go #sharpener {
  animation: bloop 2000ms ease-in-out 2600ms infinite alternate;
}

.js-go #coloured_pencil {
  animation: bloop 2000ms ease-in-out 2700ms infinite alternate;
}

.js-go #pencil {
  animation: bloop 2000ms ease-in-out 2800ms infinite alternate;
}

.js-go #xacto {
  animation: bloop 2000ms ease-in-out 2900ms infinite alternate;
}

.js-go #pen {
  animation: bloop 2000ms ease-in-out 3000ms infinite alternate;
}

.js-go #marker {
  animation: bloop 2000ms ease-in-out 3100ms infinite alternate;
}

.js-go #brush_1 {
  animation: bloop 2000ms ease-in-out 3200ms infinite alternate;
}

.js-go #glasses {
  animation: bloop 2000ms ease-in-out 3300ms infinite alternate;
}

.js-go #iPhone {
  animation: bloop 2000ms ease-in-out 3400ms infinite alternate;
}

.js-go #mbpr {
  animation: bloop 2000ms ease-in-out 3500ms infinite alternate;
}

.js-go #iPad {
  animation: bloop 2000ms ease-in-out 3600ms infinite alternate;
}

.js-go #compass {
  animation: bloop 2000ms ease-in-out 3700ms infinite alternate;
}

.js-go #glue {
  animation: bloop 2000ms ease-in-out 3800ms infinite alternate;
}

.js-go #tape, .js-go #tape_2 {
  animation: bloop 2000ms ease-in-out 3900ms infinite alternate;
}

.js-go #scissors, .js-go #scissors_2 {
  animation: bloop 2000ms ease-in-out 4000ms infinite alternate;
}

.js-go #protractor {
  animation: bloop 2000ms ease-in-out 4100ms infinite alternate;
}

.js-go #triangle {
  animation: bloop 2000ms ease-in-out 4200ms infinite alternate;
}

