
.bc {
  height: 56vw;
}

@-webkit-keyframes bloop {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  100%{
    -webkit-transform: scale(1.001) translateY(-3px);
            transform: scale(1.001) translateY(-3px);
  }
}

@keyframes bloop {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  100%{
    -webkit-transform: scale(1.001) translateY(-3px);
            transform: scale(1.001) translateY(-3px);
  }
}

.js-go .bc g {
  -webkit-animation: bloop 250ms ease-in-out infinite alternate;
          animation: bloop 250ms ease-in-out infinite alternate;
}
